body {
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#pick-background {
    background-image: url("../images/Game-Wooden-Panel.png");
    width: 60%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: auto;
}

#pick-background h1 {
    font-family: 'Pirata One', cursive;
    font-size: 72px;
    color: #f72f37;
    text-shadow: 3px 2px #000000;
    -webkit-text-stroke: 2px #541212;
    padding-top: 5%;
    padding-left: 14px;
}

#mainScreen {
    text-align: center;
    margin-top: 3%;
}

#gameScreen {
    display: none;
}

#endScreen {
    display: none;
}

#playerPirate {
    position: absolute;
    left: 0;
    bottom: 0%;
}

#enemyPirate {
    transform: scaleX(-1);
    position: absolute;
    right: 0;
    bottom: 0%;
}

.playerStats {
    color: #fdd57f;
    font-family: 'Pirata One', cursive;
    font-size: 20px;
    letter-spacing: 4px;
    text-shadow: 3px 2px #000000;
    background-image: url(../images/Small-Wood-Panel.png);
    margin-top: 20px;
    margin-left: 30px;
    padding: 0px 140px 0px 30px;
    height: 13vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.enemyStats {
    color: #fdd57f;
    font-family: 'Pirata One', cursive;
    font-size: 20px;
    letter-spacing: 4px;
    text-shadow: 3px 2px #000000;
    background-image: url(../images/Small-Wood-Panel.png);
    margin-top: 20px;
    padding: 0px 140px 0px 30px;
    height: 13vh;
    background-size: contain;
    background-repeat: no-repeat;
    right: 0px;
    position: absolute;
    top: 5px;
}

.pirateName {
    margin-top: 20px;
}

#power {
    color: #ffaeae;
    margin-left: 20px;
    float: right;
}

#playerHealthbar {
    background-color: red;
    width: 200px;
    margin-top: 33px;
    position: relative;
    border: 2px solid #3a1d14;
    border-radius: 5px;
}

#playerGreenBar {
    background-color: green;
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    border-radius: 2px;
}

#playerHealthbar p {
    z-index: 2;
    position: relative;
}

#enemyHealthbar {
    background-color: red;
    width: 200px;
    margin-top: 33px;
    position: relative;
    border: 2px solid #3a1d14;
    border-radius: 5px;
}

#enemyGreenBar {
    background-color: green;
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    border-radius: 2px;
}

#enemyHealthbar p {
    z-index: 2;
    position: relative;
}

#swap {
    margin: 50px 50px 0px 0px;
    right: 0px;
    position: absolute;
}

#swap-enemy {
    width: 100px;
    height: 100px;
    background-position: 20% 2%;
    background-size: 150%;
    background-color: #fffcbc;
}