body {
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#gameScreen {
    display: none;
}

#endScreen {
    display: none;
}

#mainScreen {
    text-align: center;
}

#pick-text {
    font-size: 50px;
}

#playerPirate {
    position: absolute;
    left: 0;
    bottom: 0%;
}

#enemyPirate {
    transform: scaleX(-1);
    position: absolute;
    right: 0;
    bottom: 0%;
}

#playerHealthbar {
    background-color: red;
    width: 200px;
    position: relative;
}

#playerGreenBar {
    background-color: green;
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
}

#playerHealthbar p {
    z-index: 2;
    position: relative;
}

#enemyHealthbar {
    background-color: red;
    width: 200px;
    position: relative;
}

#enemyGreenBar {
    background-color: green;
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
}

#enemyHealthbar p {
    z-index: 2;
    position: relative;
}

#swap-enemy {
    width: 100px;
    height: 100px;
    background-position: 20% 2%;
    background-size: 150%;
    background-color: #fffcbc;
}